<!-- app/views/profiles/new.html.erb -->
<div class="profile-page new-profile">
  <h1>New Profile</h1>
  <%= form_with(model: @profile, url: user_profile_path(@user), local: true) do |form| %>
    <div class="form-group">
      <%= form.label :bio, class: 'form-label' %>
      <%= form.text_area :bio, class: 'text-area' %>
    </div>
    <%= form.submit "Create Profile", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back to Main Profile', user_path(@user), class: 'btn btn-secondary' %>
</div>
